<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>

    <link rel="shortcut icon" href="assets/media/icons/logo.svg" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="assets/js/jquery-3.7.1.min.js"></script>

</head>

<body>

    <div class="wrapper">
        <header>
            <div class="container">
                <a href="index.html" class="logo">
                    <img src="assets/media/icons/logo.svg" alt="logo">
                    GameSphere
                </a>
                <nav>
                    <a href="catalog.html">Каталог игр</a>
                </nav>
                <div class="widgets">
                    <a href="login.html" class="btn login__btn">войти</a>
                    <a class="widget__btn" href="profile.html">
                        <svg width="26.662109" height="26.666718" viewBox="0 0 26.6621 26.6667" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>
                                Created with Pixso.
                            </desc>
                            <defs />
                            <path id="Vector"
                                d="M25.32 20C24.23 17.64 21.88 16.04 19.16 16.04C19.03 16.04 18.9 16.04 18.77 16.04L13.32 22.55L7.86 16.04C7.78 16.04 7.68 16.04 7.58 16.04C4.84 16.04 2.46 17.64 1.34 19.95C0.64 21.45 0.16 23.15 0 24.93L3.32 25L3.32 26.66L23.32 26.66L23.32 25L26.66 25C26.48 23.15 26.01 21.46 25.28 19.9L25.32 20Z"
                                fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd" />
                            <path id="Vector"
                                d="M10.94 14.55C10.88 15.17 10.4 15.66 9.8 15.76L13.32 20L16.86 15.8C16.24 15.7 15.77 15.2 15.71 14.58C15.71 13.56 17.04 13.9 18.09 12.16C18.09 12.11 22.89 0 13.32 0C3.76 0 8.56 12.11 8.56 12.11C9.61 13.86 10.96 13.53 10.94 14.55L10.94 14.55Z"
                                fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd" />
                        </svg>
                    </a>
                    <a class="widget__btn" href="favorit.html">
                        <svg width="26.666626" height="21.833344" viewBox="0 0 26.6666 21.8333" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>
                                Created with Pixso.
                            </desc>
                            <defs />
                            <path id="Vector"
                                d="M19.5 0C18 0 15 0.83 13.33 3.5C11.66 0.83 8.66 0 7 0C3.16 0 0 3.16 0 7C0 13.66 12.33 21.16 12.83 21.5L13.33 21.83L13.83 21.5C14.33 21.16 26.66 13.5 26.66 7C26.66 3.16 23.5 0 19.5 0L19.5 0ZM13.33 19.83C9.66 17.5 1.66 11.5 1.66 7C1.66 4 4.16 1.66 7 1.66C7.16 1.66 11.16 1.83 12.5 5.66L13.33 8L14.16 5.66C15.5 1.83 19.5 1.66 19.66 1.66C22.5 1.66 25 4 25 7C25 11.5 17 17.5 13.33 19.83L13.33 19.83Z"
                                fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd" />
                        </svg>
                    </a>
                    <a class="widget__btn" href="basket.html">
                        <svg width="26.666626" height="25.000000" viewBox="0 0 26.6666 25" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>
                                Created with Pixso.
                            </desc>
                            <defs />
                            <path id="Vector"
                                d="M23.33 20.16L23.33 18.33L7.66 18.33L8.66 16.5L24 15L26.66 5L6.16 5L5 0L0 0L0 1.66L3.66 1.66L7.16 15.66L5 20L5 22.5C5 23.83 6.16 25 7.5 25C8.83 25 10 23.83 10 22.5C10 21.16 8.83 20 7.5 20L20 20L20 22.5C20 23.83 21.16 25 22.5 25C23.83 25 25 23.83 25 22.5C25 21.33 24.33 20.5 23.33 20.16L23.33 20.16ZM6.66 6.66L24.5 6.66L22.66 13.33L8.66 14.83L6.66 6.66L6.66 6.66Z"
                                fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="bread__crumbs">
                <div class="line"></div>
                <p>Главная</p>
                <p>Профиль</p>
            </div>
        </header>
        <main>
            <section class="basket__sec">
                <div class="container">
                    <ul class="basket__list">
                        <li data-basket-item="1">
                            <img src="assets/media/game/rcs.png" alt="">
                            <div class="column">
                                <h3 class="game__title">Recycling Center Simulator</h3>
                                <p class="game__price">469 ₽</p>
                                <button data-target="del_basket_item">
                                    <img src="assets/media/icons/trash.svg" alt="trash">
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div class="order__block">
                        <h3>ИТОГО <span>469 ₽</span></h3>
                        <button class="btn" data-target="add_order">оформить заказ</button>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <a href="index.html" class="logo"><img src="assets/media/icons/logo.svg" alt="logo-footer">
                    GameSphere</a>
                <nav>
                    <div class="column">
                        <a href="index.html#new-items">новинки</a>
                        <a href="index.html#leaders">лидеры</a>
                        <a href="index.html#waiting">в ожидании</a>
                    </div>
                    <div class="column">
                        <a href="support.html">поддержка</a>
                        <a href="blogs.html">блог</a>
                    </div>
                </nav>
            </div>
        </footer>
    </div>

    <script src="assets/js/main.js"></script>
</body>

</html>